loglevel: warning
log_rotate_count: 0

hosts:
  - {{ inventory_hostname }}

acme:
  # Do not create TLS certificates since certbot does that.
  auto: false

certfiles:
  - /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
  - /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem

define_macro:
  'TLS_CIPHERS': TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  'TLS_OPTIONS':
    - no_sslv3
    - no_tlsv1
    - no_tlsv1_1
    - no_tlsv1_2
  'DH_FILE': /etc/ejabberd/dhparams.pem

c2s_ciphers: 'TLS_CIPHERS'
s2s_ciphers: 'TLS_CIPHERS'
c2s_protocol_options: 'TLS_OPTIONS'
s2s_protocol_options: 'TLS_OPTIONS'
c2s_dhfile: 'DH_FILE'
s2s_dhfile: 'DH_FILE'
s2s_use_starttls: required

listen:
  - port: 3478
    module: ejabberd_stun
    transport: udp
    use_turn: true
    turn_ipv4_address: {{ ejabberd_ipv4_address }}
    turn_ipv6_address: {{ ejabberd_ipv6_address }}

  - port: 3478
    module: ejabberd_stun
    transport: tcp
    use_turn: true
    turn_ipv4_address: {{ ejabberd_ipv4_address }}
    turn_ipv6_address: {{ ejabberd_ipv6_address }}

  - port: 5222
    ip: "::"
    module: ejabberd_c2s
    max_stanza_size: 262144
    shaper: c2s_shaper
    access: c2s
    starttls_required: true

  - port: 5223
    ip: "::"
    module: ejabberd_c2s
    max_stanza_size: 262144
    shaper: c2s_shaper
    access: c2s
    tls: true

  - port: 5269
    ip: "::"
    module: ejabberd_s2s_in
    max_stanza_size: 524288

  - port: 5270
    ip: "::"
    module: ejabberd_s2s_in
    max_stanza_size: 524288
    tls: true

  - port: 5349
    module: ejabberd_stun
    transport: tcp
    use_turn: true
    turn_ipv4_address: {{ ejabberd_ipv4_address }}
    turn_ipv6_address: {{ ejabberd_ipv6_address }}
    tls: true

  - port: 5443
    ip: "::"
    module: ejabberd_http
    tls: true
    protocol_options: 'TLS_OPTIONS'
    ciphers: 'TLS_CIPHERS'
    dhfile: 'DH_FILE'
    # Custom HTTP headers
    custom_headers:
      # CORS headers for using web clients
      Access-Control-Allow-Origin: "*"
      Access-Control-Allow-Methods: GET,HEAD,PUT,OPTIONS
      Access-Control-Allow-Headers: Content-Type
      # HTTP Strict Transport Security (HSTS)
      Strict-Transport-Security: "max-age=31536000; includeSubDomains"
    request_handlers:
      /.well-known/host-meta: mod_host_meta
      /.well-known/host-meta.json: mod_host_meta
{% if ejabberd_account_creation == "web" or ejabberd_account_creation == "all" %}
      /account: mod_register_web
{% endif %}
{% if ejabberd_web_administration_url_path %}
      {{ ejabberd_web_administration_url_path }}: ejabberd_web_admin
{% endif %}
{% if ejabberd_http_api_url_path %}
      {{ ejabberd_http_api_url_path }}: mod_http_api
{% endif %}
      /bosh: mod_bosh
      /captcha: ejabberd_captcha
{% if ejabberd_web_client_url_path %}
      {{ ejabberd_web_client_url_path }}: mod_conversejs
{% endif %}
      /websocket: ejabberd_http_ws
      "": mod_http_upload

disable_sasl_mechanisms:
  - digest-md5
  - X-OAUTH2

auth_method: sql
auth_password_format: scram
auth_scram_hash: {{ ejabberd_scram_hash_algorithm }}

default_db: sql
new_sql_schema: true
sql_type: pgsql
sql_server: localhost
sql_database: ejabberd
sql_username: ejabberd
sql_password: {{ ejabberd_db_password }}

captcha_url: auto
captcha_cmd: /usr/share/ejabberd/captcha.sh
captcha_limit: 10

acl:
  admin:
     user:
{% for jid in ejabberd_admin_jids %}
      - "{{ jid }}"
{% endfor %}
  local:
    user_regexp: ""
  loopback:
    ip:
      - 127.0.0.0/8
      - ::1/128

access_rules:
  announce:
    allow: admin
  configure:
    allow: admin
  c2s:
    deny: blocked
    allow: all
  local:
    allow: local
  mix_create:
    allow: local
  muc_create:
    allow: local
  pubsub_createnode:
    allow: local
  trusted_network:
    allow: loopback

api_permissions:
  "console commands":
    from:
      - ejabberd_ctl
    who: all
    what: "*"
  "admin access":
    who:
      access:
        allow:
          acl: loopback
          acl: admin
      oauth:
        scope: "ejabberd:admin"
        access:
          allow:
            acl: loopback
            acl: admin
    what:
      - "*"
      - "!stop"
      - "!start"
  "public commands":
    who:
      ip: 127.0.0.1/8
    what:
      - status
      - connected_users_number

shaper:
  normal: 20000
  fast: 200000

shaper_rules:
  max_user_sessions: 10
  max_user_offline_messages:
    5000: admin
    1000: all
  c2s_shaper:
    none: admin
    normal: all
  s2s_shaper: fast

modules:
  mod_adhoc: {}
  mod_admin_extra: {}
  mod_announce:
    access: announce
  mod_avatar: {}
{% if ejabberd_block_strangers %}
  mod_block_strangers:
    # Block all strangers even if another user from the same server is in the recipient's roster.
    allow_transports: false
    # Create a CAPTCHA for the stranger.
    captcha: true
{% endif %}
  mod_blocking: {}
  mod_bosh: {}
  mod_caps: {}
  mod_carboncopy: {}
  mod_client_state: {}
  mod_configure: {}
{% if ejabberd_web_client_url_path %}
  mod_conversejs:
    websocket_url: ws://@HOST@/websocket
{% endif %}
  mod_disco:
    server_info:
      - modules: all
        name: abuse-addresses
        urls:
{% for address in ejabberd_abuse_addresses %}
          - "{{ address }}"
{% endfor %}
      - modules: all
        name: admin-addresses
        urls:
{% for address in ejabberd_admin_addresses %}
          - "{{ address }}"
{% endfor %}
      - modules: all
        name: support-addresses
        urls:
{% for address in ejabberd_support_addresses %}
          - "{{ address }}"
{% endfor %}
  mod_fail2ban: {}
  mod_host_meta: {}
{% if ejabberd_http_api_url_path %}
  mod_http_api: {}
{% endif %}
  mod_http_upload:
    hosts:
      - {{ ejabberd_subdomains["upload"] }}.@HOST@
    # The port number "5443" at the end is not set since sslh is used.
    put_url: https://{{ ejabberd_subdomains["upload"] }}.@HOST@
    # Maximum size per file upload (in bytes)
    max_size: {{ ejabberd_maximum_http_file_upload_file_size }}
  mod_last: {}
  mod_mam:
    assume_mam_usage: true
    default: always
  mod_mix:
    hosts:
      - {{ ejabberd_subdomains["mix"] }}.@HOST@
    access_create: mix_create
  mod_mix_pam: {}
  mod_muc:
    hosts:
      - {{ ejabberd_subdomains["muc"] }}.@HOST@
    access:
      - allow
    access_admin:
      - allow: admin
    access_create: muc_create
    access_persistent: muc_create
    access_mam:
      - allow
    default_room_options:
      mam: true
  mod_muc_admin: {}
  mod_muc_occupantid: {}
  mod_muc_rtbl: {}
  mod_offline:
    access_max_user_messages: max_user_offline_messages
  mod_ping: {}
  mod_pres_counter:
    # Maximum subscription presence stanzas passing the server per minute
    count: 10
  mod_privacy: {}
  mod_private: {}
  mod_proxy65:
    hosts:
      - {{ ejabberd_subdomains["proxy"] }}.@HOST@
    ip: {{ ejabberd_ipv4_address }}
    access: local
    # Maximum active connections per file transfer initiator
    max_connections: 10
  mod_pubsub:
    hosts:
      - {{ ejabberd_subdomains["pubsub"] }}.@HOST@
    access_createnode: pubsub_createnode
    plugins:
      - flat
      - pep
    force_node_config:
      "eu.siacs.conversations.axolotl.*":
        access_model: open
      # Avoid buggy clients to make their bookmarks public.
      storage:bookmarks:
        access_model: whitelist
  mod_push: {}
  mod_push_keepalive: {}
  mod_register:
    password_strength: 32
{% if ejabberd_account_creation == "none" %}
    # Disallow account creation but allow password changing (implicit access rule "none" has value "deny").
    # To disallow password changing as well, remove the whole "mod_register" entry.
    access: none
    # Do not allow account deletion.
    access_remove: none
{% elif ejabberd_account_creation == "web" %}
    redirect_url: https://{{ inventory_hostname }}/register/new
{% elif ejabberd_protect_in_band_account_creation_by_captcha %}
    captcha_protected: true
{% endif %}
  mod_roster:
    versioning: true
  mod_s2s_dialback: {}
  mod_shared_roster: {}
  mod_stream_mgmt:
    resend_on_timeout: if_offline
  mod_stun_disco: {}
  mod_vcard: {}
  mod_vcard_xupdate: {}
{% if ejabberd_reveal_software_details %}
  mod_version: {}
{% endif %}
